body{font-family:Arial;margin:0;background:#081526;color:white}
header,.hero{text-align:center;padding:40px}
.btn{background:silver;color:black;padding:10px 20px;text-decoration:none;margin:5px;display:inline-block}